@charset "utf-8";
/*reset*/
@import url(./reset.css);
/*웹 폰트*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Noto Sans KR",
    "Malgun Gothic", "맑은 고딕", Dotum, "돋움", sans-serif;
  line-height: 1.15;
  font-weight: 400;
}

/*헤더*/
header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/*pregress bar*/
header .progress_bar {
  width: 100%;
  height: 0.4166666667vw;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

header .progress_bar .progress {
  width: 0;
  height: 100%;
  background-color: var(--main-color);
}

/*inner header*/
header .inner_header {
  width: 100%;
  height: 5.8333333333vw;
  padding: 0 4.7916666667vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 3.125vw;
  position: relative;
  transition: 0.12s;
}

/*로고*/
h1 {
  line-height: 1;
  width: 22rem;
  height: 3.2rem;
  margin-right: auto;
}

h1 > a {
  display: block;
  width: 100%;
}

h1 > a > img {
  width: 100%;
}

/*gnb*/
#gnb {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
}

/*1차 메뉴*/
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  padding: 2.34375vw 0.8333333333vw;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: Prompt;
  line-height: 1.1;
  letter-spacing: 0.072rem;
  text-transform: uppercase;
}

#gnb > ul > li:last-child {
  padding: 2.34375vw 0 2.34375vw 0.8333333333vw;
}

/*1차 메뉴에 호버하면*/
#gnb > ul > li:hover > a {
  color: var(--main-color);
}

/*2차 메뉴*/
#gnb .submenu {
  width: fit-content;
  height: 5.8333333333vw;
  padding: 2.2395833333vw 1.25vw;
  box-sizing: border-box;
  display: none;
  align-items: center;
  position: absolute;
  top: 5.5208333333vw;
  left: -0.3645833333vw;
  z-index: 1;
  white-space: nowrap;
}

#gnb .submenu > li {
  font-family: Pretendard;
  letter-spacing: normal;
  margin-left: 2.0833333333vw;
}

#gnb .submenu > li:first-child {
  margin-left: 0;
}

/*2차 메뉴에 호버하면*/
#gnb .submenu > li:hover > a {
  color: #fff;
}

/*2차 메뉴 배경*/
.submenu_bg {
  position: absolute;
  left: 0;
  top: 5.8333333333vw;
  display: none;
  width: 100%;
  height: 5.8333333333vw;
  background-color: var(--main-color);
  backdrop-filter: blur(15px);
}

/*1차 메뉴에 호버하면 2차 메뉴 나오기*/
#gnb > ul > li:nth-child(2):hover .submenu {
  display: flex;
}

/*아이콘 영역*/
.icons button {
  width: 3.2rem;
  height: 3.2rem;
}

.icons button > img {
  width: 100%;
}

.icons button:last-child {
  margin-left: 1.4583333333vw;
}

/*돋보기 아이콘 클릭하면 나타날 창*/
.search_area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 22.5vw;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100%);
  transition: 0.3s;
}

/*상단*/
.search_area .top {
  display: flex;
  height: 5.8333333333vw;
  padding: 0 4.7916666667vw;
  align-items: center;
  justify-content: space-between;
}

/*로고*/
.search_area .top h2 {
  width: 11.4583333333vw;
  height: 1.6666666667vw;
}

.search_area .top h2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.search_area .top h2 a img {
  width: 100%;
}

/*닫기 버튼*/
.search_area .top button {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 1.875vw;
  right: 4.7916666667vw;
}

.search_area .top button > img {
  width: 100%;
}

/*검색창 영역*/
.search_area .bottom {
  padding: 6.25vw 20.2083333333vw;
  border-top: 1px solid #666;
}

.search_area .bottom .search_wrap {
  position: relative;
}

/*검색창*/
.search_area .bottom input {
  width: 100%;
  height: 4.1666666667vw;
  padding: 0 7.2916666667vw 0 1.6666666667vw;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.1458333333vw;
  line-height: 1.7;
}

/*포커스 상태일 때*/
.search_area .bottom input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

/*버튼 영역*/
.search_area .bottom .button_area {
  position: absolute;
  top: 1.0416666667vw;
  right: 1.6666666667vw;
  display: flex;
  gap: 0.8333333333vw;
  align-items: center;
}

.search_area .bottom .button_area button:first-child {
  width: 1.6666666667vw;
  height: 1.6666666667vw;
  display: none;
}

.search_area .bottom .button_area button:last-child {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
}

.search_area .bottom .button_area img {
  width: 100%;
}

/*전체 메뉴*/
.all_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100%);
  transition: 0.3s;
}

/*상단*/
.all_menu .top {
  display: flex;
  height: 5.8333333333vw;
  padding: 0 4.7916666667vw;
  align-items: center;
  justify-content: space-between;
}

/*로고*/
.all_menu .top h2 {
  width: 11.4583333333vw;
  height: 1.6666666667vw;
}

.all_menu .top h2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.all_menu .top h2 a img {
  width: 100%;
}

/*닫기 버튼*/
.all_menu .top button {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 1.875vw;
  right: 4.7916666667vw;
}

.all_menu .top button > img {
  width: 100%;
}

/*메뉴*/
#menu {
  padding: 8.3333333333vw 4.7916666667vw 4.7916666667vw 20.2083333333vw;
}

/*1차 메뉴*/
#menu > ul > li {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-weight: 700;
  font-size: 2.8125vw;
  font-family: Prompt;
  line-height: 1.1;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

#menu > ul > li:not(:first-child) {
  margin-top: 2.5vw;
}

#menu .submenu {
  display: flex;
  gap: 2.0833333333vw;
  margin-left: 2.5vw;
  letter-spacing: normal;
  line-height: 1;
}

#menu .submenu li a {
  color: #fff;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.7;
  font-family: Pretendard;
}

/*2차 메뉴에 호버하면*/
#menu .submenu li:hover a {
  color: var(--main-color);
}

/*하단*/
.all_menu .bottom {
  position: absolute;
  bottom: 4.7916666667vw;
  padding: 0 4.7916666667vw 0 20.2083333333vw;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.all_menu .bottom > div {
  display: flex;
}

.all_menu .bottom :is(a, span) {
  color: #fff;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.7;
  display: block;
}

.all_menu .bottom .terms a:last-child {
  margin-left: 2.0833333333vw;
}

.all_menu .bottom .contact span {
  font-family: Prompt;
}

.all_menu .bottom .contact span:last-child {
  margin-left: 4.1666666667vw;
}

/*메인*/
main {
  width: 100%;
  height: fit-content;
  position: relative;
}

/*섹션 공통 설정*/
section {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

/*메인 비주얼*/
.main_visual {
  padding: 8.75vw 4.7916666667vw 0;
}

.main_visual p {
  width: 100%;
  height: fit-content;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.7;
}

/*위쪽 글*/
.main_visual .top_txt {
  text-align: right;
}

/*중간 글*/
.main_visual .main_txt {
  margin-top: 2.2916666667vw;
}

.main_visual .main_txt p {
  height: 7.8125vw;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 128px;
  font-weight: 700;
  font-size: 6.6666666667vw;
  font-family: Prompt;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  right: 0.5208333333vw;
}

.main_visual .main_txt p:first-child {
  padding-left: 15.4166666667vw;
}

.main_visual .main_txt p:last-child {
  padding-left: 7.7604166667vw;
}

/*아래쪽 글*/
.main_visual .bottom_txt {
  margin: 5.8333333333vw 0;
  padding-left: 10.2083333333vw;
  box-sizing: border-box;
}

/*두번째 섹션*/
.sec2 {
  height: 45.8333333333vw;
  overflow: hidden;
}

.sec2 > img {
  width: 100%;
  height: 77.0833333333vw;
  object-fit: cover;
}

/*세번째 섹션*/
.sec3 {
  margin-top: 16.6666666667vw;
  padding: 0 4.7916666667vw;
}

.sec3 p {
  width: fit-content;
  height: fit-content;
}

.sec3 p:not(:first-child) {
  margin-top: 0.2083333333vw;
}

.sec3 p span {
  font-weight: 600;
  font-size: 3.0208333333vw;
  line-height: 1.4;
}

/*네번째 섹션*/
.sec4 {
  padding-top: 10.4166666667vw;
  margin: 41.6666666667vw 0 31.25vw;
  position: relative;
  overflow: hidden;
}

/*배경 영상*/
.sec4 .bg_video {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  mix-blend-mode: normal;
  opacity: 0;
  display: none;
  mix-blend-mode: normal;
}

/*중앙 글자*/
.sec4 .center_txt {
  width: 100%;
  position: fixed;
  top: 38%;
  left: 0;
  transform: translateY(-38%);
  opacity: 0;
  display: none;
  font-weight: 700;
  font-family: Prompt;
  text-transform: uppercase;
  text-align: center;
}

.sec4 .content .center_txt {
  color: #fff;
  mix-blend-mode: difference;
}

.sec4 .center_txt h4 {
  font-size: 1.4583333333vw;
  line-height: 1.1;
  letter-spacing: 2.24px;
  mix-blend-mode: difference;
}

.sec4 .center_txt .img_title {
  width: 100%;
  height: auto;
  margin-top: 1.25vw;
  position: relative;
}

.sec4 .center_txt .img_title h2 {
  font-size: 5.8333333333vw;
  line-height: 1;
  letter-spacing: 4.48px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease;
}

.sec4 .center_txt .img_title h2:not(:first-child) {
  opacity: 0;
}

/*컨텐츠 영역*/
.sec4 .content a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  position: relative;
}

.sec4 .content a:nth-child(2n + 1) {
  align-items: flex-end;
  padding-right: 12.5vw;
}

.sec4 .content a:nth-child(2n) {
  padding-left: 4.7916666667vw;
}

.sec4 .content a h3 {
  margin-bottom: 0.625vw;
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 1.7;
  color: #fff;
}

.sec4 .content a:first-of-type h3 {
  color: var(--main-color);
}

/*다섯번째 섹션*/
.sec5 {
  margin-top: 12.5vw;
  padding: 0 4.7916666667vw;
}

/*윗부분(다섯번째 & 일곱번째 섹션 공통*/
:is(.sec5, .sec7) .top {
  width: 100%;
  height: fit-content;
}

:is(.sec5, .sec7) .top .row {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

:is(.sec5, .sec7) .top .row h2 {
  font-weight: 700;
  font-size: 6.4rem;
  font-family: Prompt;
  line-height: 1.1;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

:is(.sec5, .sec7) .top .row a {
  display: block;
  width: 3.3333333333vw;
  height: 3.3333333333vw;
}

:is(.sec5, .sec7) .top .row a > img {
  width: 100%;
}

:is(.sec5, .sec7) .top p {
  margin-top: 0.4166666667vw;
  font-weight: 400;
  font-size: 1.1458333333vw;
  line-height: 1.7;
  opacity: 0;
}

/*컨텐츠*/
.sec5 .bottom {
  margin-top: 4.1666666667vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2.0833333333vw;
  row-gap: 4.1666666667vw;
}

.sec5 .bottom a {
  border-top: 4px solid #000;
  width: calc(100% / 3 - calc(2.0833333333vw * 2 / 3));
  opacity: 0;
}

.sec5 .bottom a .top_line {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.7;
  margin-top: 1.0416666667vw;
}

/*이미지 영역*/
.sec5 .bottom a .img_area {
  margin-top: 0.625vw;
  width: 100%;
  height: 36.6666666667vw;
  overflow: hidden;
  position: relative;
}

.sec5 .bottom a .img_area .white {
  content: "white";
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom;
}

.sec5 .bottom a .img_area > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*이미지에 호버하면 나타날 svg*/
.sec5 .bottom a .img_area .hover-lottie {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

.sec5 .bottom a .img_area .hover-lottie path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

/*제목*/
.sec5 .bottom a .bottom_line {
  margin-top: 1.6666666667vw;
  font-weight: 600;
  font-size: 1.6666666667vw;
  line-height: 1.7;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 5.625vw;
  opacity: 0;
}

/*여섯번째 섹션*/
.sec6 {
  margin-top: 12.5vw;
  height: 49.4791666667vw;
  background: url(../img/sec6/main_pride_img.jpg) no-repeat center / cover;
  background-size: 100% 100%;
  padding: 9.375vw 17.7083333333vw 9.375vw 18.125vw;
  color: #fff;
}

/*큰 글자*/
.sec6 h2 {
  font-weight: 700;
  font-size: 4.5833333333vw;
  line-height: 1.7;
}

.sec6 h2 p {
  overflow: hidden;
}

.sec6 h2 p:first-child {
  padding-left: 9.7916666667vw;
}

.sec6 h2 p span {
  opacity: 0;
  display: block;
}

/*작은 글자*/
.sec6 .sm_txt {
  margin-left: auto;
  margin-top: 3.125vw;
  max-width: 23.5416666667vw;
  line-height: 1.7;
  opacity: 0;
}

.sec6 .sm_txt h3 {
  font-weight: 600;
  font-size: 1.6666666667vw;
  text-decoration: underline;
  text-underline-offset: 5px;
  white-space: nowrap;
}

.sec6 .sm_txt h3 br:first-child {
  display: none;
}

.sec6 .sm_txt p {
  margin-top: 1.0416666667vw;
  font-weight: 400;
  font-size: 1.1458333333vw;
  white-space: normal;
}

/*일곱번째 섹션*/
.sec7 {
  margin-top: 12.5vw;
  padding: 0 4.7916666667vw 12.5vw;
  position: relative;
}

.sec7 ul {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  margin-top: 4.1666666667vw;
  opacity: 0;
}

.sec7 ul li a {
  padding: 3.3333333333vw 2.0833333333vw;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.7;
}

.sec7 ul li a h4 {
  width: 5.5208333333vw;
  font-size: 1.4583333333vw;
}

.sec7 ul li a h3 {
  font-size: 1.6666666667vw;
  flex: 1;
}

.sec7 ul li a span {
  font-size: 1.4583333333vw;
  margin-left: 10.4166666667vw;
}

.sec7 ul li:not(:first-child) {
  border-top: 1px solid #5b5151;
}

/*사진 위에 보일 용*/
.sec7 .black {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4.7916666667vw 12.5vw;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  pointer-events: none;
}

.sec7 .black li:not(:first-child) {
  border-top: 1px solid transparent;
}

/*흰색 버전*/
.sec7 .white {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 4.7916666667vw 12.5vw;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  pointer-events: none;
}

.sec7 .white li:not(:first-child) {
  border-top: 1px solid transparent;
}

.sec7 .white li {
  opacity: 0;
  clip-path: polygon(0px 0px, 0px 0px, 0px 200px, 0px 200px);
}

.sec7 .white li a {
  color: #fff;
}

/*이미지*/
.sec7 .img_wrapper {
  width: 27.0833333333vw;
  height: 18.75vw;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.sec7 .img_wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*여덟번째 섹션*/
.sec8 {
  padding-bottom: 12.5vw;
  overflow: hidden;
}

.sec8 > div {
  font-weight: 700;
  font-size: 6.0416666667vw;
  font-family: Prompt;
  line-height: 1.1;
  display: flex;
  white-space: nowrap;
  letter-spacing: 4.64px;
  text-transform: uppercase;
}

.sec8 > div:first-child > p {
  padding-right: 2.0833333333vw;
}

.sec8 > div:last-child > p {
  padding-left: 2.0833333333vw;
}

.sec8 > div > p > span {
  color: var(--main-color);
}

.sec8 .move_left p {
  animation: moveleft 19s linear infinite;
}

.sec8 .move_right p {
  animation: moveleft 19s linear reverse infinite;
}

/*애니메이션*/
@keyframes moveleft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*플로팅 버튼*/
.floating {
  width: 9.5833333333vw;
  padding: 0.8333333333vw 1.25vw;
  margin-bottom: 64px;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 0.8509803922);
  display: flex;
  align-items: flex-end;
  border-radius: 5.2083333333vw;
  font-weight: 500;
  font-size: 0.9375vw;
  font-family: Prompt;
  line-height: 1.1;
  transition: background-color 0.3s ease-in-out;
  position: sticky;
  left: 85.7291666667vw;
  bottom: 64px;
}

.floating img {
  width: 1.25vw;
  height: 1.25vw;
}

.floating span {
  text-wrap: nowrap;
  margin-left: 0.4166666667vw;
  text-transform: uppercase;
}

/*푸터*/
footer {
  padding: 4.5833333333vw 4.7916666667vw 4.1666666667vw;
  box-sizing: border-box;
  background: url(../img/footer/footer_bg.png) no-repeat;
  background-size: 100% 100%;
}

/*푸터 상단*/
footer .top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

/*로고*/
footer .top h2 {
  width: 18.75vw;
  height: 2.7604166667vw;
}

footer .top h2 > img {
  width: 100%;
}

/*위쪽 화살표*/
footer .top a {
  width: 3.3333333333vw;
  height: 3.3333333333vw;
}

footer .top a > img {
  width: 100%;
}

/*하단*/
footer .bottom {
  margin-top: 4.5833333333vw;
  padding-top: 4.1666666667vw;
  border-top: 1px solid #666;
  color: #fff;
}

/*하단의 상단*/
footer .bottom .top_line {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

/*슬로건*/
footer .bottom .top_line h3 {
  font-weight: 500;
  font-size: 2.0833333333vw;
  font-family: Prompt;
  line-height: 1.5;
}

/*주소*/
footer .bottom .top_line .info h4 {
  font-weight: 700;
  font-size: 1.0416666667vw;
  font-family: Prompt;
  line-height: 1.1;
  text-transform: uppercase;
}

footer .bottom .top_line .info .content {
  margin-top: 1.9791666667vw;
}

footer .bottom .top_line .info .content {
  font-weight: 400;
  font-size: 1.0416666667vw;
  line-height: 1.7;
}

footer .bottom .top_line .info .content p br {
  display: none;
}

/*하단의 하단*/
footer .bottom .bottom_line {
  margin-top: 4.5833333333vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/*이용약관*/
footer .bottom .bottom_line .terms a {
  color: #fff;
  font-weight: 400;
  font-size: 1.0416666667vw;
  line-height: 1.7;
}

footer .bottom .bottom_line .terms a:first-child {
  font-weight: 700;
  margin-right: 0.8333333333vw;
}

footer .bottom .bottom_line .copy {
  margin-top: 0.8333333333vw;
  font-weight: 400;
  font-size: 0.9375vw;
  font-family: Prompt;
  line-height: 1.1;
  text-transform: uppercase;
}

/*sns*/
footer .bottom .bottom_line .right {
  display: flex;
  gap: 1.6666666667vw;
}

footer .bottom .bottom_line .right a {
  display: block;
  width: 2.5vw;
  height: 2.5vw;
}

/*인트로 화면*/
.intro_bg {
  display: none;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

.intro_bg .music {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.3020833333vw;
}

.intro_bg .music button {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
}

.intro_bg .music button > img {
  width: 28px;
  height: 23px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_bg .music .fade {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #838383;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  z-index: -1;
}

.intro_bg .music p {
  margin-top: 5.2083333333vw;
  color: #fff;
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 1.7;
  opacity: 0;
}

.intro_bg .logo {
  display: none;
  width: 100vw;
  height: 100vh;
}

.intro_bg .logo .intro-lottie {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  width: fit-content;
  height: fit-content;
}

.intro_bg .logo .intro-lottie .logo_icon {
  width: 79vw;
  height: 79vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_bg .logo .intro-lottie .logo_icon > svg > g > g > g path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

.intro_bg .logo .logo_txt {
  width: 0;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.intro_bg .logo .logo_txt svg > g > g > g {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
