@charset "utf-8";
/*reset*/
@import url(./reset.css);
/*웹 폰트*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 10px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Noto Sans KR",
    "Malgun Gothic", "맑은 고딕", Dotum, "돋움", sans-serif;
  line-height: 1.15;
  font-weight: 400;
}

/*헤더*/
header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
}

/*pregress bar*/
header .progress_bar {
  width: 100%;
  height: 0.4166666667vw;
}

/*inner header*/
header .inner_header {
  width: 100%;
  height: 5.8333333333vw;
  padding: 0 4.7916666667vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 3.125vw;
}

/*로고*/
h1 {
  line-height: 1;
  width: 22rem;
  height: 3.2rem;
  margin-right: auto;
}

h1 > a {
  display: block;
  width: 100%;
}

h1 > a > img {
  width: 100%;
}

/*gnb*/
#gnb {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
}

/*1차 메뉴*/
#gnb > ul > li {
  width: fit-content;
  height: fit-content;
  padding: 2.34375vw 0.8333333333vw;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: Prompt;
  line-height: 1.1;
  letter-spacing: 0.072rem;
  text-transform: uppercase;
}

#gnb > ul > li:last-child {
  padding: 2.34375vw 0 2.34375vw 0.8333333333vw;
}

/*2차 메뉴*/
.submenu {
  width: fit-content;
  height: 5.8333333333vw;
  padding: 2.2395833333vw 1.25vw;
  box-sizing: border-box;
  display: none;
  align-items: center;
  position: absolute;
  top: 5.5208333333vw;
  left: -0.3645833333vw;
  white-space: nowrap;
}

.submenu > li {
  font-family: Pretendard;
  letter-spacing: normal;
  margin-left: 2.0833333333vw;
}

.submenu > li:first-child {
  margin-left: 0;
}

/*아이콘 영역*/
.icons button {
  width: 3.2rem;
  height: 3.2rem;
}

.icons button > img {
  width: 100%;
}

.icons button:last-child {
  margin-left: 1.4583333333vw;
}

/*메인*/
main {
  width: 100%;
  height: fit-content;
}

/*섹션 공통 설정*/
section {
  width: 100%;
  height: fit-content;
}

/*메인 비주얼*/
.main_visual {
  padding: 8.75vw 4.7916666667vw 0;
  box-sizing: border-box;
}

.main_visual p {
  width: 100%;
  height: fit-content;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 1.7;
}

/*위쪽 글*/
.main_visual .top_txt {
  text-align: right;
}

/*중간 글*/
.main_visual .main_txt {
  margin-top: 2.2916666667vw;
}

.main_visual .main_txt p {
  height: 7.8125vw;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 128px;
  font-weight: 700;
  font-size: 6.6666666667vw;
  font-family: Prompt;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  right: 0.5208333333vw;
}

.main_visual .main_txt p:first-child {
  padding-left: 15.4166666667vw;
}

.main_visual .main_txt p:last-child {
  padding-left: 7.7604166667vw;
}

/*아래쪽 글*/
.main_visual .bottom_txt {
  margin: 5.8333333333vw 0;
  padding-left: 10.2083333333vw;
  box-sizing: border-box;
}

/*두번째 섹션*/
.sec2 {
  height: 45.8333333333vw;
  overflow: hidden;
}

.sec2 > img {
  width: 100%;
  height: 77.0833333333vw;
  object-fit: cover;
}

/*세번째 섹션*/
.sec3 {
  margin-top: 16.6666666667vw;
  padding: 0 4.7916666667vw;
  box-sizing: border-box;
}

.sec3 p {
  font-weight: 600;
  font-size: 3.0208333333vw;
  line-height: 1.4;
}

/*네번째 섹션*/
.sec4 {
  padding-top: 10.4166666667vw;
  margin: 41.6666666667vw 0 31.25vw;
  position: relative;
}

/*중앙 글자*/
.sec4 .center_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-family: Prompt;
  text-transform: uppercase;
  text-align: center;
}

.sec4 .center_txt h4 {
  font-size: 1.4583333333vw;
  line-height: 1.1;
  letter-spacing: 2.24px;
}

.sec4 .center_txt .img_title {
  width: 50vw;
  height: auto;
  margin-top: 1.25vw;
  position: relative;
}

.sec4 .center_txt .img_title h2 {
  font-size: 5.8333333333vw;
  line-height: 1;
  letter-spacing: 4.48px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sec4 .center_txt .img_title h2:not(:first-child) {
  opacity: 0;
}

/*컨텐츠 영역*/
.sec4 .content_wrap {
  width: 100%;
  height: fit-content;
}

.sec4 .content_wrap a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.sec4 .content_wrap a:nth-child(2n + 1) {
  align-items: flex-end;
  padding-right: 12.5vw;
}

.sec4 .content_wrap a:nth-child(2n) {
  padding-left: 4.7916666667vw;
}

.sec4 .content_wrap a h3 {
  margin-bottom: 0.625vw;
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 1.7;
}

/*다섯번째 섹션*/
.sec5 {
  margin-top: 12.5vw;
  padding: 0 4.7916666667vw;
  box-sizing: border-box;
}

/*윗부분*/
.sec5 .top {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.sec5 .top .left h2 {
  font-weight: 700;
  font-size: 6.4rem;
  font-family: Prompt;
  line-height: 1.1;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.sec5 .top .left p {
  margin-top: 0.4166666667vw;
  font-weight: 400;
  font-size: 1.1458333333vw;
  line-height: 1.7;
}

.sec5 .top a {
  display: block;
  width: 3.3333333333vw;
  height: 3.3333333333vw;
}

.sec5 .top a > img {
  width: 100%;
}
